midi-emotion/output/*
midi-emotion/data_files/*
*.DS_Store
__pycache__
.vscode
!.gitkeep
.cache
/poetry_analysis/poem_to_VA
poetry_analysis/poem_to_VA_new/apiKey.txt
poetry_analysis/poem_to_VA_new/Non_progressive_output.csv
poetry_analysis/poem_to_VA_new/test.csv
poetry_analysis/poem_to_VA_new/VA_output.csv
poetry_analysis/poem_to_VA_new/VA_output.csv
*.sf2
